body {
  margin: 40px;
}

.wrapper {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-around;
  background-color: #fff;
  color: #444;
}

.box {
  flex: 0 0 32%;                       /* don't grow, don't shrink, width */
  height: 70px;
  margin-bottom: 5px;
  background-color: #61dafb;
}

.box:nth-child(3n) {
  background-color: #61dafb;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
