body {
  /* margin: 40px; */
  background-color: #36454f;
  border-style: solid;
  border-width: 5px;
  border-color: #191919;
  padding: 10px;
  color: white;
}

.wrapper {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-around;
  background-color: #191919;
  color: #444;
}
.box {
  flex: 0 0 32%;                       /* don't grow, don't shrink, width */
  height: 90px;
  border-style: solid;
  border-width: 5px;
  border-color: #191919;
  padding: 10px;
  background-color: #36454f;
  color: white;
}

.box.Correct {
  background-color: green;
}

.box.Incorrect {
  background-color: red;
}

/* .box:nth-child(3n) {
  background-color: #36454f;
  border-style: solid;
  border-width: 5px;
  border-color: #191919;
  padding: 10px;
  color: white;
} */

.App-link {
  color: #61dafb;
}

.Sitename {
  color: #4b5f6d;
}

.Navbar {
  padding: 20px;
}

.Link {
  padding: 10px;
  color:#4b5f6d;
}

.headbox {
  background-color: #191919;
}

footer {
  background-color: black;
  height: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
