body {
  margin: 40px;
  background-color: #102e4a;
  color: white;
}

.wrapper {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-around;
  background-color: #102e4a;
  color: #444;
}

.box {
  flex: 0 0 32%;                       /* don't grow, don't shrink, width */
  height: 90px;
  margin-bottom: 5px;
  background-color: #5887ff;
  color: white;
}

.box:nth-child(3n) {
  background-color: #5887ff;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Sitename {
  color: #55c1ff;
}

.Navbar {
  padding: 20px;
}

.Link {
  padding: 10px;
  color:#a682ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
